.appBar {
  z-index: 1300;
}

.menuButton {
  margin-right: 16px;
}

.title {
  flex-grow: 1;
  font-weight: 600;
}

.userInfo {
  margin-right: 12px;
}

@media (max-width: 960px) {
  .userInfo {
    display: none;
  }
}
