.container {
  background-color: #dbdbdb;
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  flex: 1;
  margin-top: 64px;
  margin-left: 240px;
}

.mainContent {
  flex: 1;
  padding-top: 1rem;
  transition: margin-left 0.3s ease;
}

.sidebarOpen {
  margin-left: 240px;
}

.sidebarClosed {
  margin-left: 0;
}

@media (max-width: 960px) {
  .mainContainer {
    margin-left: 0;
  }
}
