.section {
  position: relative;
  padding: 2rem 0 4rem 0;
  overflow: hidden;
  z-index: 2;
}

.backgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #00000077, #0000006b),
    url("../../../assets/bg/triangolo-effect.png") center/cover no-repeat;
  opacity: 0.9;
  z-index: -1;

  /* Efeito parallax */
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid var(--primary-color);
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  text-align: center;
  margin-bottom: 1rem;
}

.header h3 {
  font-family: var(--primary-font);
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}

.divider {
  width: 80px;
  height: 3px;
  background: var(--secondary-color);
  margin: 1rem auto;
}

.subtitle {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

.benefitsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin: 0 auto;
  width: 1200px;
  max-width: 95%;
}

.benefitCard {
  background: var(--quartenary-color);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 2rem 1rem;
  border: 1px solid var(--border-color);
  transition: all 0.3s ease;
  text-align: center;
}

.benefitCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.iconContainer {
  background: var(--tertiary-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1.5rem;
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.iconContainer svg {
  font-size: 2.5rem;
}

.benefitCard h4 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.benefitCard p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.6;
  margin: 0;
  font-size: 0.9rem;
}

/* Responsivo */
@media (max-width: 768px) {
  .benefitsGrid {
    grid-template-columns: 1fr 1fr;
  }

  .benefitCard {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .benefitsGrid {
    grid-template-columns: 1fr;
  }

  .header h3 {
    font-size: 1.5rem;
  }

  .iconContainer {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
  }
}
