@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #140f0c;
  --secondary-color: #d4af37;
  --tertiary-color: #796553;

  --border-color: rgba(255, 255, 255, 0.2);

  --primary-font: "Italiana", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  --primary-background: linear-gradient(
    to right,
    var(--tertiary-color),
    var(--primary-color)
  );
  --secondary-background: linear-gradient(
    to right,
    #664b31,
    #503b27,
    #3a2b1c,
    #664b31
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--secondary-font);
  background: var(--secondary-background);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}
